<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Build Buttons"
            id="net.hexagon.sun.eclipse.bb.commands.category">
      </category>
      <command
            name="Build Buttons"
            categoryId="net.hexagon.sun.eclipse.bb.commands.category"
            id="net.hexagon.sun.eclipse.bb.commands.fullBuild">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="net.hexagon.sun.eclipse.bb.commands.fullBuild"
            class="net.hexagon.sun.eclipse.bb.handlers.BuildHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.hexagon.sun.eclipse.bb.commands.fullBuild"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.hexagon.sun.eclipse.bb.toolbars.buildButtonBar">
            <command
                  commandId="net.hexagon.sun.eclipse.bb.commands.fullBuild"
                  icon="icons/sample.gif"
                  tooltip="Build All"
                  id="net.hexagon.sun.eclipse.bb.toolbars.fullBuild">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
