<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="net.hexagon.sun.eclipse.bb.commands.category">
      </category>
      <command
            name="%command.name"
            categoryId="net.hexagon.sun.eclipse.bb.commands.category"
            id="net.hexagon.sun.eclipse.bb.commands.selectionBuild">
      </command>
      <command
            categoryId="net.hexagon.sun.eclipse.bb.commands.category"
            id="net.hexagon.sun.eclipse.bb.commands.fullBuild"
            name="%command.name.0">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.hexagon.sun.eclipse.bb.handlers.SelectionBuild"
            commandId="net.hexagon.sun.eclipse.bb.commands.selectionBuild">
      </handler>
      <handler
            class="net.hexagon.sun.eclipse.bb.handlers.FullBuild"
            commandId="net.hexagon.sun.eclipse.bb.commands.fullBuild">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.hexagon.sun.eclipse.bb.commands.selectionBuild"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="net.hexagon.sun.eclipse.bb.commands.fullBuild"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.hexagon.sun.eclipse.bb.toolbars.buildButtonBar">
            <command
                  commandId="net.hexagon.sun.eclipse.bb.commands.selectionBuild"
                  icon="icons/brick-single16.png"
                  id="net.hexagon.sun.eclipse.bb.toolbars.selectionBuild"
                  tooltip="%command.tooltip">
            </command>
            <command
                  commandId="net.hexagon.sun.eclipse.bb.commands.fullBuild"
                  icon="icons/brick-wall16.png"
                  tooltip="%command.tooltip.0"
                  id="net.hexagon.sun.eclipse.bb.toolbars.fullBuild">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
